body {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    background-color: antiquewhite;
}

table {
  border-collapse: collapse;
  
}

td,tb {
    padding: 5px;
}

input,
select,
textarea {
    margin-top: 10px;
    padding: 1px;
}

input[type="submit"]{
    background-color: blanchedalmond;
    border-color: aliceblue;
}
input[type="submit"]:hover {
    background-color: aqua;
}

a {
    color: green;
    text-decoration: none;
}

.box {
    padding: 20px;
    border-radius: 10px;
    border-style: dotted;
    border-color: rgb(0, 0, 0);
}